<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
    <title>bradenallchin.com &mdash; {{ page.title }}</title>
  </head>
	<body>
		{% include google_analytics.html %}
		<h1><a href="http://bradenallchin.com">bradenallchin.com</a></h1>
		<div>{{ content }}</div>
		<div id="footer">
			<a href="/about.html" title="about me">about me</a> | <a href="/all.html" title="all posts">all my posts</a>
		</div>
	</body>
</html>